{% extends 'base.html.twig' %}

{% block title %}Timezone Results{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">


        <p>The time zone {{ timezone }} has {{ tzOffsetMinutes }} minutes offset to UTC on the given day at noon.</p>
        <p>February in this year is {{ febDaysInMonth }} days long.</p>
        <p>The specified month {{ month }} is {{ userDaysInMonth }} days long.</p>


    </div>
{% endblock %}